{% extends 'layout.html' %}

{% block body %}
  <h1>Edit Event</h1>
  {% from "includes/_formhelpers.html" import render_field %}
        <div style="{% if form.type_of_event.data == 'event' %} display: block;
                {% else %} display: none; {% endif %}">
                  <form method="POST" action="">
                    <div class="form-horizontal">
                        <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-8">
                          {{ render_field(form.event_name, class_="form-control") }}
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-8">
                          {{ render_field(form.sponsorship_amount, class_="form-control") }}
                            </div>
                        </div>
                        </div>
                          <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-8">
                          {{ render_field(form.college, class_="form-control") }}
                            </div>
                        </div></div>
                              <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-8">
                          {{ render_field(form.no_of_participants, class_="form-control") }}
                            </div>
                            </div>
                        </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          {{ render_field(form.startdate, class_="form-control") }}
                        </div></div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              {{ render_field(form.enddate, class_="form-control") }}
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-offset-2">
                                <div class="form-group">
                                    <p> <b>Status</b></p>
                                    <div class="col-sm-8">
                                  {{ form.status }}
                                    </div>
                                </div>
                          </div>
                      <div class="col-sm-12">
                        <p><input class="btn btn-primary btn-lg" type="submit" value="Submit"></p>
                      </div>
                        </div>
                  </form>
            </div>

            <div id="tech_session" style="{% if form.type_of_event.data == 'tech_session' %} display: block;
                {% else %} display: none;
                    {% endif %}">
          <form method="POST" action="">
            <div class="form-horizontal">
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.tech_session_name, class_="form-control") }}
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.list_of_events, class_="form-control") }}
                    </div>
                </div>
                </div>
                  <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.college, class_="form-control") }}
                    </div>
                </div></div>
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.technology, class_="form-control") }}
                    </div>
                    </div>
                </div></div>
              <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.no_of_participants, class_="form-control") }}
                    </div>
                </div>
              <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.startdate, class_="form-control") }}
                </div></div>
              <div class="col-sm-2">
                    <div class="form-group">
                    </div>
                    </div>
              <div class="col-sm-2">
                    <div class="form-group">
                  {{ render_field(form.ibm_sme_name, class_="form-control") }}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                  {{ render_field(form.bu, class_="form-control") }}
                    </div>
                    </div>

                <div class="col-sm-6">
                    <div class="form-group">
                  {{ render_field(form.box_location_atten, class_="form-control") }}

                    </div>
                </div>
              <div class="col-sm-6">
                    <div class="form-group">
                  {{ render_field(form.box_location_feed, class_="form-control") }}
                    </div>
                </div>

              <div class="col-sm-12">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit">
              </div>
          </form>
        </div>


            <div id="HackathonForm" style="{% if form.type_of_event.data == 'Hackathon' %} display: block;
                {% else %} display: none;
                    {% endif %}">
          <form method="POST" action="">
            <div class="form-horizontal">
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.hackathon_name, class_="form-control") }}
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.list_of_events, class_="form-control") }}
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.college, class_="form-control") }}
                    </div>
                </div></div>
                  <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.technology, class_="form-control") }}
                    </div>
                </div></div>

                      <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.no_of_participants, class_="form-control") }}
                    </div>
                    </div>
                </div></div>
              <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.startdate, class_="form-control") }}
                </div></div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      {{ render_field(form.enddate, class_="form-control") }}
                    </div>
                  </div>
                <div class="col-sm-3">
                    <div class="form-group">
                  {{ render_field(form.no_of_registrations, class_="form-control") }}
                    </div>
                </div>
              <div class="col-sm-3">
                        <div class="form-group">
                      {{ render_field(form.no_of_abstracts, class_="form-control") }}
                            </div>
                    </div>
              <div class="col-sm-2">
                        <div class="form-group">
                      {{ render_field(form.no_of_finalist, class_="form-control") }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.finaledate, class_="form-control") }}
                </div></div>
                  <div class="col-sm-3">
                <div class="form-group">

                  {{ render_field(form.jury_name, class_="form-control") }}
                </div></div>
              <div class="col-sm-4">
                <div class="form-group">
                  {{ render_field(form.additional_jury_name, class_="form-control") }}
                </div></div>

              <div class="col-sm-6">
                    <div class="form-group">
                        <p> <b>Status</b></p>
                            <div class="col-sm-8">
                  {{ form.status }}
                            </div>
                    </div>
                </div>
              <div class="col-sm-3">
                <div class="form-group">
                  {{ render_field(form.winning_team_details, class_="form-control") }}
                </div></div>
              <div class="col-sm-4">
                <div class="form-group">
                  {{ render_field(form.runnerup_team_details, class_="form-control") }}
                </div></div>
              <div class="col-sm-4">
            <div class="form-group">
              {{ render_field(form.box_location_winning_profile, class_="form-control") }}
            </div></div>
              <div class="col-sm-12">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit">
              </div>
          </form>
        </div>


        <div id="myForm2" class="form-popup">
          <form method="POST" action="">
            <div class="form-horizontal">
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.topic, class_="form-control") }}
                    </div>
                </div>
                </div>
                  <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.college, class_="form-control") }}
                    </div>
                </div></div>
                      <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.no_of_participants, class_="form-control") }}
                    </div>
                    </div>
                </div></div>
              <div class="col-sm-3">
                <div class="form-group">
                  {{ render_field(form.startdate, class_="form-control") }}
                </div></div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      {{ render_field(form.enddate, class_="form-control") }}
                    </div>
                  </div>
              <div class="col-sm-12">
                <p><input class="btn btn-primary btn-lg" type="submit" value="Submit"></p>
              </div>
          </form>
        </div>


            <div id="myForm3" style="{% if form.type_of_event.data == 'SUR' %} display: block;
                {% else %} display: none;
                    {% endif %}">
          <form method="POST" action="">
            <div class="form-horizontal">
                <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.sur_topic_name, class_="form-control") }}
                    </div>
                </div>
                </div>
                  <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.prof_name, class_="form-control") }}
                    </div>
                </div></div>
                      <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-8">
                  {{ render_field(form.technology, class_="form-control") }}
                    </div>
                    </div>
                </div></div>
              <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.proposal_receipt_date, class_="form-control") }}
                </div></div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      {{ render_field(form.proposal_submission_date, class_="form-control") }}
                    </div>
                  </div>
              <div class="col-sm-2">
            <div class="form-group">
              {{ render_field(form.project_startdate, class_="form-control") }}
            </div>
          </div>
      <div class="col-sm-4">
            <div class="form-group">
            </div>
          </div>
      <div class="col-sm-2">
            <div class="form-group">
              {{ render_field(form.project_enddate, class_="form-control") }}
            </div>
          </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label>Proposal Status</label><br>
            <input type="radio" name="status" value="Approved" onclick="sur_approved();" checked><b>  Approved</b><br>
            <input type="radio" name="status" value="Rejected" onclick="sur_rejected();"><b>  Rejected</b>
        </div></div>
              <div id="invoice_dates">
              <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.invoice_receipt_date, class_="form-control") }}
                </div></div>
              <div class="col-sm-2">
                <div class="form-group">
                  {{ render_field(form.invoice_payout_date, class_="form-control") }}
                </div></div>
              <div class="col-sm-3">
                <div class="form-group">
                  {{ render_field(form.paper_publications, class_="form-control") }}
                </div></div>
              <div class="col-sm-3">
                <div class="form-group">
                  {{ render_field(form.conference_showcase, class_="form-control") }}
                </div></div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {{ render_field(form.sur_proposal_location, class_="form-control") }}
                </div></div>
              <div class="col-sm-6">
                <div class="form-group">
                  {{ render_field(form.project_url, class_="form-control") }}
                </div></div>
              <div class="col-sm-3">
                <p><input class="btn btn-primary btn-lg" type="submit" value="Submit"></p>
              </div>
          </form>
        </div>
{% endblock %}
