{% extends 'layout.html' %} {% block body %}
<h1>Edit Event</h1>
{% from "includes/_formhelpers.html" import render_field %}
<div
  style="{% if form.type_of_event.data == 'event' %} display: block;
                {% else %} display: none; {% endif %}"
>
  <!-- <form method="POST" action="">
    <div class="edit_event_details">
      <div class="container">
        <div class="row">
          <h3><u>Edit Event Details</u><br /></h3>

          <div class="form-horizontal">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.event_name, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.sponsorship_amount,
                  class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.college, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.theme, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.no_of_participants,
                  class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  {{ render_field(form.startdate, class_="form-control") }}
                </div>
                <div class="col-sm-4">
                  {{ render_field(form.enddate, class_="form-control") }}
                </div>
              </div>
            </div>
          </div>
          for form-horizontal
        </div>
      </div>
    </div>
    for edit_event_details

    <div class="edit_event_status">
      <div class="container">
        <div class="row">
          <h3><u>Edit Event Status</u></h3>
          <div class="col-sm-4">
            <p><b>Status</b></p>
            {{ form.status }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <p>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      </p>
    </div>
  </form> -->
  <form method="POST" action="">
    <div class="event_details">
      <div class="container">
        <div class="row">
          <h2><u>Event Details</u><br /></h2>
          <div class="form-horizontal">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.event_name, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.sponsorship_amount,
                  class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.college, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.theme, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  {{ render_field(form.startdate, class_="form-control") }}
                </div>
                <div class="col-sm-4">
                  {{ render_field(form.enddate, class_="form-control") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="event_status">
      <div class="container">
        <div class="row">
          <h2><u>Event Status</u></h2>
          <div class="col-sm-3">
            <div class="form-group">
              <p><b>Status</b></p>
              {{ form.status }}
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <p><b>Event Posted on Portal?</b></p>
              <!-- <input type="radio" id="yes" value="yes" name="event_portal" />
              <label for="yes">Yes</label><br />
              <input type="radio" id="no" value="no" name="event_portal" />
              <label for="no">No</label> -->
              <div class="col-sm-8">
                {{ form.portal_status }}
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <p><b>Post event socialising?</b></p>
              <!-- <input
                type="radio"
                id="yes"
                value="yes"
                name="post_event"
                onclick="showlinks()"
              />
              <label for="yes">Yes</label><br />
              <input
                type="radio"
                id="no"
                name="post_event"
                value="no"
                onclick="hidelinks()"
              />
              <label for="no">No</label>
              <p id="links" style="display: none;">---LINKS HERE---</p> -->
              <div class="col-sm-10">
                <div id="UrlField1" style="display: block;">
                  <div style="float: left;">
                    <!-- <input
                      type="text"
                      class="form-control"
                      placeholder="Social media post URL "
                    /> -->
                    {{ render_field(form.url_list, class_="form-control",
                    placeholder="Social media post URL",
                    value=social_url_list[0]) }}
                    <br />
                  </div>
                  <div style="float: right;">
                    <br />
                    <button class="btn btn-warning add_more_url btn-sm">
                      Add More
                    </button>
                  </div>
                  <br />
                  <div class="url-wrap" style="margin-top: 20px;">
                    {% for url in social_url_list[1:] %}
                    <div>
                      <br /><input
                        type="text"
                        class="form-control"
                        id="url_list"
                        name="url_list"
                        required
                        type="text"
                        value="{{url}}"
                        placeholder="Social media post URL"
                      /><a href="#" class="remove_field">Remove</a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <br /><br />
                {{
                form.post_event_social(onchange="toggleUrlField('UrlField1')")
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="myform_comments">
      <div class="container">
        <div class="row">
          <h4><b>Comments</b></h4>
          {{ form.comments(rows='3',columns='90') }}
        </div>
      </div>
    </div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <center>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      </center>
    </div> -->
    <div class="col-sm-12">
      <br /><br />
      <div class="form-group">
        <h2><u>Testimonials</u></h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback1, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback2, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback3, class_="form-control") }}
      </div>
    </div>

    <div class="col-sm-12">
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </div>
    <div class="col-sm-4"></div>
  </form>
</div>

<div
  id="tech_session"
  style="{% if form.type_of_event.data == 'tech_session' %} display: block;
                {% else %} display: none;
                    {% endif %}"
>
  <form method="POST" action="">
    <div class="form-horizontal">
      <div class="col-sm-12">
        <div class="form-group">
          <h2><u>Event Details</u></h2>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.tech_session_name, class_="form-control") }}
          </div>
        </div>
      </div>
      <div id="eventlistfield" class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.list_of_events, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.college, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- <div class="form-group">
        <div class="col-sm-8">
          {{ render_field(form.speaker_name, class_="form-control") }}
          <span
            ><button class="btn btn-warning add_speaker_button btn-sm">
              Add More
            </button></span
          >
          <div class="speaker-wrap"></div>
        </div>
      </div> -->
        <div class="col-sm-3">
          <div class="form-group" style="width: 150px;">
            {{ render_field(form.startdate, class_="form-control") }}
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="form-group" style="width: 150px;">
            {{ render_field(form.enddate, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.topic, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.theme, class_="form-control") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.no_of_participants, class_="form-control") }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        {{ render_field(form.speaker_name, class_="form-control",
        placeholder="Speaker Name", value=speaker_list[0]) }}
        <span
          ><button
            style="margin-top: 5px;"
            class="btn btn-warning add_speaker_button btn-sm"
          >
            Add More
          </button></span
        >
        <div class="speaker-wrap">
          {% for speaker_info in speaker_list[1:] %}
          <div>
            <br /><input
              type="text"
              class="form-control"
              id="speaker_name"
              name="speaker_name"
              required
              type="text"
              value="{{speaker_info}}"
              placeholder="Speaker Name"
            /><a href="#" class="remove_field">Remove</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <br />
      <div class="form-group">
        {{ render_field(form.ibm_sme_name, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <br />
      <div class="form-group">
        {{ render_field(form.bu, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-3">
      <br />
      <div class="form-group">
        {{ render_field(form.box_location_atten, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-3">
      <br />
      <div class="form-group" style="width: 200px;">
        {{ render_field(form.box_location_feed, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-12">
      <br /><br />
      <div class="form-group">
        <h2><u>Event Status</u></h2>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <p><b>Status</b></p>
        <div class="col-sm-8">
          {{ form.status }}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <p><b>Event Posted on Portal?</b></p>
        <div class="col-sm-8">
          {{ form.portal_status }}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <p><b>Post Event Socialising?</b></p>
        <div class="col-sm-10">
          <div id="UrlField1" style="display: block;">
            <div style="float: left;">
              <!-- <input
              type="text"
              class="form-control"
              placeholder="Social media post URL "
            /> -->
              {{ render_field(form.url_list, class_="form-control",
              placeholder="Social media post URL", value=social_url_list[0]) }}
              <br />
            </div>
            <div style="float: right;">
              <br />
              <button class="btn btn-warning add_more_url btn-sm">
                Add More
              </button>
            </div>
            <br />
            <div class="url-wrap" style="margin-top: 20px;">
              {% for url in social_url_list[1:] %}
              <div>
                <br /><input
                  type="text"
                  class="form-control"
                  id="url_list"
                  name="url_list"
                  required
                  type="text"
                  value="{{url}}"
                  placeholder="Social media post URL"
                /><a href="#" class="remove_field">Remove</a>
              </div>
              {% endfor %}
            </div>
          </div>
          <br /><br />
          {{ form.post_event_social(onchange="toggleUrlField('UrlField1')") }}
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-2">
    <div class="form-group">
      {{ render_field(form.ibm_sme_name, class_="form-control") }}
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      {{ render_field(form.bu, class_="form-control") }}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      {{ render_field(form.box_location_atten, class_="form-control") }}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      {{ render_field(form.box_location_feed, class_="form-control") }}
    </div>
  </div> -->
    <div class="col-sm-12">
      <br /><br />
      <div class="form-group">
        <h2><u>Testimonials</u></h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback1, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback2, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback3, class_="form-control") }}
      </div>
    </div>

    <div class="col-sm-12">
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </div>
  </form>
  <!-- <form method="POST" action="">
    <div class="form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.tech_session_name, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.list_of_events, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.college, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.technology, class_="form-control") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.no_of_participants, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.startdate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group"></div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.ibm_sme_name, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.bu, class_="form-control") }}
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        {{ render_field(form.box_location_atten, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        {{ render_field(form.box_location_feed, class_="form-control") }}
      </div>
    </div>

    <div class="col-sm-12">
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </div>
  </form> -->
</div>

<div
  id="HackathonForm"
  style="{% if form.type_of_event.data == 'Hackathon' %} display: block;
                {% else %} display: none;
                    {% endif %}"
>
  <!-- <form method="POST" action="">
    <div class="form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.hackathon_name, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.list_of_events, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.college, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.technology, class_="form-control") }}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.no_of_participants, class_="form-control") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.startdate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.enddate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        {{ render_field(form.no_of_registrations, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        {{ render_field(form.no_of_abstracts, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.no_of_finalist, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.finaledate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        {{ render_field(form.jury_name, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.additional_jury_name, class_="form-control") }}
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <p><b>Status</b></p>
        <div class="col-sm-8">
          {{ form.status }}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        {{ render_field(form.winning_team_details, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.runnerup_team_details, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.box_location_winning_profile,
        class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-12">
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </div>
  </form> -->
  <form method="POST" action="">
    <div class="form-horizontal">
      <h2><u>Event Details</u><br /></h2>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.hackathon_name, class_="form-control") }}
          </div>
        </div>
      </div>
      <div id="eventlistfields" class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.list_of_events, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.college, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.theme, class_="form-control") }}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.no_of_registrations, class_="form-control") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.startdate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        {{ render_field(form.enddate, class_="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
    <div class="row container">
      <div class="col-sm-2">
        <div class="form-group">
          {{ render_field(form.no_of_participants, class_="form-control") }}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group" style="width: 190px;">
          {{ render_field(form.no_of_abstracts, class_="form-control") }}
        </div>
      </div>
      <div class="col-sm-2 col-sm-offset-1">
        <div class="form-group">
          {{ render_field(form.no_of_finalist, class_="form-control") }}
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          {{ render_field(form.finaledate, class_="form-control") }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-8">
        <div class="form-group">
          <span
            >{{ render_field(form.jury_name, class_="form-control",
            value=jury[0][0]) }} {{ render_field(form.bu, class_="form-control",
            value=jury[0][1]) }}
            <br />
            <button class="btn btn-warning add_more_jury">
              Add More
            </button></span
          >
          <div class="jury-wrap">
            {% for jury_info in jury[1:] %}
            <div>
              <br /><input
                class="form-control"
                id="jury_name"
                name="jury_name"
                required
                type="text"
                value="{{jury_info[0]}}"
              /><br /><select class="form-control" id="bu" name="bu">
                {% for x in ["ISL", "IRL", "GBS", "GTS"] %} {% if jury_info[1]
                == x %}
                <option value="{{x}}" selected>{{x}}</option>
                {% else %}
                <option value="{{x}}">{{x}}</option>
                {% endif %} {% endfor %}
              </select>
              <a href="#" class="remove_field">Remove</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      {{ render_field(form.box_location_winning_profile, class_="form-control")
      }}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <br /><br />
        <h2><u>Winners Details</u></h2>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px;"><b>First Prize Winners</b></p>
        <div class="row">
          <div class="col-sm-12">
            {{ render_field(form.team_name1, class_="form-control",
            placeholder="Team Name") }}
            <br />
          </div>

          <div class="col-sm-6">
            {{ render_field(form.team_member_name1, class_="form-control",
            placeholder="Team Member", value=list_team1[0][0]) }}
          </div>
          <div class="col-sm-6">
            {{ render_field(form.team_member_college1, class_="form-control",
            placeholder="College", value=list_team1[0][1]) }}
            <br />
          </div>
          <div class="member-wrap1" style="margin-top: 20px;">
            {% for member_info in list_team1[1:] %}
            <div>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  id="team_member_name1"
                  name="team_member_name1"
                  required
                  type="text"
                  value="{{member_info[0]}}"
                  placeholder="Member Name"
                /><a href="#" class="remove_field">Remove</a>
              </div>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  id="team_member_college1"
                  name="team_member_college1"
                  required
                  type="text"
                  value="{{member_info[1]}}"
                  placeholder="College"
                />
              </div>
              <div class="col-sm-12"><br /></div>
            </div>
            {% endfor %}
          </div>
        </div>

        <button class="btn btn-warning add_more_members1">
          Add More
        </button>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px;"><b>Second Prize Winners</b></p>
        <div class="row">
          <div class="col-sm-12">
            {{ render_field(form.team_name2, class_="form-control",
            placeholder="Team Name") }}
            <br />
          </div>
          <div class="col-sm-6">
            {{ render_field(form.team_member_name2, class_="form-control",
            placeholder="Team Member", value=list_team2[0][0]) }}
          </div>
          <div class="col-sm-6">
            {{ render_field(form.team_member_college2, class_="form-control",
            placeholder="College", value=list_team2[0][1]) }}
            <br />
          </div>
          <div class="member-wrap2" style="margin-top: 20px;">
            {% for member_info in list_team2[1:] %}
            <div>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  id="team_member_name2"
                  name="team_member_name2"
                  required
                  type="text"
                  value="{{member_info[0]}}"
                  placeholder="Member Name"
                /><a href="#" class="remove_field">Remove</a>
              </div>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  id="team_member_college2"
                  name="team_member_college2"
                  required
                  type="text"
                  value="{{member_info[1]}}"
                  placeholder="College"
                />
              </div>
              <div class="col-sm-12"><br /></div>
            </div>
            {% endfor %}
          </div>
        </div>
        <button class="btn btn-warning add_more_members2">
          Add More
        </button>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px;"><b>Third Prize Winners</b></p>
        <div class="row">
          <div class="col-sm-12">
            {{ render_field(form.team_name3, class_="form-control",
            placeholder="Team Name") }}
            <br />
          </div>
          <div class="col-sm-6">
            {{ render_field(form.team_member_name3, class_="form-control",
            placeholder="Team Member", value=list_team3[0][0]) }}
          </div>
          <div class="col-sm-6">
            {{ render_field(form.team_member_college3, class_="form-control",
            placeholder="College", value=list_team3[0][1]) }}
            <br />
          </div>
          <div class="member-wrap3" style="margin-top: 20px;">
            {% for member_info in list_team3[1:] %}
            <div>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  id="team_member_name3"
                  name="team_member_name3"
                  required
                  type="text"
                  value="{{member_info[0]}}"
                  placeholder="Member Name"
                /><a href="#" class="remove_field">Remove</a>
              </div>
              <div class="col-sm-6">
                <input
                  class="form-control"
                  id="team_member_college3"
                  name="team_member_college3"
                  required
                  type="text"
                  value="{{member_info[1]}}"
                  placeholder="College"
                />
              </div>
              <div class="col-sm-12"><br /></div>
            </div>
            {% endfor %}
          </div>
        </div>
        <button class="btn btn-warning add_more_members3">
          Add More
        </button>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-sm-12">
        <br /><br />
        <h2><u>Event Status</u></h2>
      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.additional_jury_name, class_="form-control") }}
      </div>
    </div> -->
    <br />
    <div class="col-sm-3">
      <div class="form-group">
        <p><b>Status</b></p>
        <div class="col-sm-8">
          {{ form.status }}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <p><b>Event Posted on Portal?</b></p>
        <div class="col-sm-8">
          {{ form.portal_status }}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <p><b>Post Event Socialising?</b></p>
        <div class="col-sm-10">
          <div id="UrlField1" style="display: block;">
            <div style="float: left;">
              <!-- <input
                type="text"
                class="form-control"
                placeholder="Social media post URL "
              /> -->
              {{ render_field(form.url_list, class_="form-control",
              placeholder="Social media post URL", value=social_url_list[0]) }}
              <br />
            </div>
            <div style="float: right;">
              <br />
              <button class="btn btn-warning add_more_url btn-sm">
                Add More
              </button>
            </div>
            <br />
            <div class="url-wrap" style="margin-top: 20px;">
              {% for url in social_url_list[1:] %}
              <div>
                <br /><input
                  type="text"
                  class="form-control"
                  id="url_list"
                  name="url_list"
                  required
                  type="text"
                  value="{{url}}"
                  placeholder="Social media post URL"
                /><a href="#" class="remove_field">Remove</a>
              </div>
              {% endfor %}
            </div>
          </div>
          <br /><br />
          {{ form.post_event_social(onchange="toggleUrlField('UrlField1')") }}
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <br /><br />
      <div class="form-group">
        <h2><u>Testimonials</u></h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback1, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback2, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        {{ render_field(form.feedback3, class_="form-control") }}
      </div>
    </div>

    <div class="col-sm-12">
      <br /><br />
      <center>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      </center>
      <br /><br />
    </div>
  </form>
</div>

<div id="myForm2" class="form-popup">
  <form method="POST" action="">
    <div class="form-horizontal">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.topic, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.college, class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-8">
            {{ render_field(form.no_of_participants, class_="form-control") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        {{ render_field(form.startdate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        {{ render_field(form.enddate, class_="form-control") }}
      </div>
    </div>
    <div class="col-sm-12">
      <p>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      </p>
    </div>
  </form>
</div>

<!------------------------------SUR----------------------------------------->
<div
  id="myForm3"
  style="{% if form.type_of_event.data == 'SUR' %} display: block;
                {% else %} display: none;
                    {% endif %}"
>
  <form method="POST" action="">
    <h2><u>Event Details</u></h2>
    <div class="sur_event_details">
      <div class="container">
        <div class="row">
          <div class="form-horizontal">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.sur_topic_name, class_="form-control") }}
                </div>
              </div>
            </div>

            <!-- <div class="col-sm-6">
            <div class="form-group">             
              <div class="col-sm-4">
                {{ render_field(form.prof_name, class_="form-control") }}
              </div>

              <div class="col-sm-4">
                {{ render_field(form.prof_college_name, class_="form-control") }}
              </div>

                <button class="btn btn-warning add_field_button">
                  Add More
                </button>
              <div class="input_fields_wrap"></div>
            </div>
          </div> -->
            <!-- <div class="col-sm-6">
            <div class="col-sm-8">
              <div class="form-group">
                <span>
                  {{ render_field(form.prof_name, class_="form-control") }} {{
                  render_field(form.prof_college_name, class_="form-control")
                  }}
                  <button class="btn btn-warning add_field_button">
                    Add More
                  </button>
                </span>

                <div class="input_fields_wrap"></div>
              </div>
            </div>
          </div> -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.sur_proposal_location,
                  class_="form-control") }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-horizontal">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.sur_grant_req, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.technology, class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  {{ render_field(form.project_startdate, class_="form-control")
                  }}
                </div>
                <div class="col-sm-4">
                  {{ render_field(form.project_enddate, class_="form-control")
                  }}
                </div>
              </div>
            </div>

            <!-- <div class="row"> -->

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  {{ render_field(form.proposal_receipt_date,
                  class_="form-control") }}
                </div>
                <div class="col-sm-5">
                  {{ render_field(form.proposal_submission_date,
                  class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-8">
                  {{ render_field(form.paper_publications,
                  class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  {{ render_field(form.invoice_receipt_date,
                  class_="form-control") }}
                </div>
                <div class="col-sm-5">
                  {{ render_field(form.invoice_payout_date,
                  class_="form-control") }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <!-- <label>Proposal Status</label><br />
              <div class="col-sm-4">
                <input
                  type="radio"
                  name="status"
                  value="Approved"
                  onclick="sur_approved();"
                  checked
                /><b> Approved</b>
              </div>
              <div class="col-sm-4">
                <input
                  type="radio"
                  name="status"
                  value="Rejected"
                  onclick="sur_rejected();"
                /><b> Rejected</b>
              </div> -->
                <div class="col-sm-8">
                  {{ render_field(form.project_url, class_="form-control") }}
                  <p><b>Conference Showcase</b></p>
                  <div id="ConferenceURL" style="display: block;">
                    <div>
                      <!-- <input
                      type="text"
                      class="form-control"
                      placeholder="Social media post URL "
                    /> -->
                      {{ render_field(form.conference_url,
                      class_="form-control") }}
                    </div>
                    <br />
                  </div>
                  {{
                  form.conference_showcase(onchange="toggleUrlField('ConferenceURL')")
                  }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-8">
                <div class="form-group">
                  <span>
                    {{ render_field(form.prof_name, class_="form-control",
                    value=list_prof[0][0]) }}
                    <br />
                    {{ render_field(form.prof_college_name,
                    class_="form-control", value=list_prof[0][1]) }}
                    <br />
                    <button class="btn btn-warning add_prof_button">
                      Add More
                    </button>
                  </span>

                  <div class="prof-wrap">
                    {% for prof_info in list_prof[1:] %}
                    <div>
                      <br /><input
                        class="form-control"
                        id="prof_name"
                        name="prof_name"
                        required
                        type="text"
                        value="{{prof_info[0]}}"
                        placeholder="Professor  Name"
                      /><br /><input
                        class="form-control"
                        id="prof_college_name"
                        name="prof_college_name"
                        required
                        type="text"
                        value="{{prof_info[1]}}"
                        placeholder="Professor  College"
                      /><a href="#" class="remove_field">Remove</a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <br /><br />
            <h2><u>Event Status</u></h2>
          </div>
        </div>
        <!-- <div class="col-sm-4">
        <div class="form-group">
          {{ render_field(form.additional_jury_name, class_="form-control") }}
        </div>
      </div> -->
        <br />
        <div class="col-sm-3">
          <div class="form-group">
            <p><b>Proposal Status</b></p>
            <div class="col-sm-8">
              {{ form.proposal_status }}
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <p><b>Event Posted on Portal?</b></p>
            <div class="col-sm-8">
              {{ form.portal_status }}
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <p><b>Post Event Socialising?</b></p>
            <div class="col-sm-10">
              <div id="UrlField1" style="display: block;">
                <div style="float: left;">
                  <!-- <input
                  type="text"
                  class="form-control"
                  placeholder="Social media post URL "
                /> -->
                  {{ render_field(form.url_list, class_="form-control",
                  placeholder="Social media post URL", value=social_url_list[0])
                  }}
                  <br />
                </div>
                <div style="float: right;">
                  <br />
                  <button class="btn btn-warning add_more_url btn-sm">
                    Add More
                  </button>
                </div>
                <br />
                <div class="url-wrap" style="margin-top: 20px;">
                  {% for url in social_url_list[1:] %}
                  <div>
                    <br /><input
                      type="text"
                      class="form-control"
                      id="url_list"
                      name="url_list"
                      required
                      type="text"
                      value="{{url}}"
                      placeholder="Social media post URL"
                    /><a href="#" class="remove_field">Remove</a>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <br /><br />
              {{ form.post_event_social(onchange="toggleUrlField('UrlField1')")
              }}
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <br /><br />
          <div class="form-group">
            <h2><u>Testimonials</u></h2>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            {{ render_field(form.feedback1, class_="form-control") }}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            {{ render_field(form.feedback2, class_="form-control") }}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            {{ render_field(form.feedback3, class_="form-control") }}
          </div>
        </div>

        <!-- </div> -->
      </div>
    </div>

    <!-- <div class="col-sm-2">
    <div class="form-group">
      
    </div>
  </div> -->
    <!-- <div class="col-sm-3">
    <div class="form-group">
      
    </div>
  </div> proposal-->
    <!-- <div class="col-sm-2">
    <div class="form-group">
      
    </div>
  </div> -->
    <!-- <div class="col-sm-4">
    <div class="form-group"></div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      
    </div>
  </div> -->

    <!-- <div id="invoice_dates"> -->
    <!-- <div class="col-sm-2">
      <div class="form-group">
        
      </div>
    </div> -->
    <!-- <div class="col-sm-2">
      <div class="form-group">
        
      </div>
    </div> -->

    <!-- </div> -->
    <!-- <div class="col-sm-6">
    <div class="form-group">
      
    </div>
  </div> -->
    <!-- <div class="col-sm-6">
    <div class="form-group">
      
    </div>
  </div> -->
    <div class="col-sm-3">
      <p>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      </p>
    </div>
  </form>
</div>
<!--------SUR END----------->

{% endblock %}
